.search {
    display: flex;
    align-items: center;
    width: 25%;
}

.search .input {
    display: flex;
    align-items: center;
    background: white;
    padding: 0.5em;
    border-radius: 3em;
    width: 100%;
}
.search .input svg {
    color: black;
    margin-right: 0.5em;
}

.search .input input {
    border: 0;
    background-color: transparent;
    height: calc(4em - 2em);
    font-size: 0.75em;
    width: 100%;
}

.search .input input:focus {
    border: 0;
    outline: 0;
}
