@font-face {
    font-family: "GothamMedium";
    src: URL("../fonts/GothamMedium.ttf") format("truetype");
}
* {
    font-family: "GothamMedium";
}

html,
body,
#root {
    background-color: #1e1e1e;
    color: white;
    overflow: hidden;
    height: 100%;
    width: 100%;
    background: rgb(30, 30, 30);
    background: linear-gradient(
        0deg,
        rgba(30, 30, 30, 1) 40%,
        rgba(209, 247, 246, 0.3) 100%
    );
}
body {
    display: flex;
    background: rgb(23, 23, 23);
    background: linear-gradient(
        180deg,
        rgba(23, 23, 23, 1) 0%,
        rgba(18, 18, 18, 1) 56%
    );
}

::-webkit-scrollbar {
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #121212;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #616161;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #707070;
}
@media only screen and (max-width: 768px) {
    aside {
        display: none;
    }
}

@import "./nav";
@import "./sidebar";
@import "./main";
@import "./player";
@import "./card";
@import "./search";
@import "./playlist";
a {
    color: rgb(199, 199, 199) !important;
    text-decoration: none;

    &:hover {
        color: white !important;
    }
}

.content {
    padding: 2em;
}

h2 {
    margin-bottom: 0.5em;
}

img {
    max-width: 100%;
}

.song {
    cursor: pointer;
}
